<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deck</title>
</head>
<body>
    <div>
        <img src="https://deckofcardsapi.com/static/img/back.png" alt="Back of Card">
        <p>Cards Remaining: <span th:text="${deck.cardsRemaining}"></span></p>
        
        <form th:action="|/deck/${deck.deckId}|" method="POST">
            <select name="count">
                <option th:each="i : ${#numbers.sequence(1,deck.cardsRemaining)}" th:value="${i}" th:text="${i}">
                </option>
            </select>
            <input type="text" name="deckId" th:value="${deck.deckId}" hidden>
            <button type="submit">Draw</button>
        </form>
    </div>
    
</body>
</html>